body {
    background: #1E1E1E;
    color: white;
    overflow-x: hidden;
}

html, body, .swiper-container {
    height: 100%;
    position: relative;
}

.py-4 {
    padding-bottom: 0 !important;
}

a {
    text-decoration: none !important;
}

input[type=checkbox] {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    appearance: none;
    background: white;
    border-radius: 5px;
    border: .5px solid #5c5c5c;
}

input[type=checkbox]:checked {
    background: #FFC822;
}

input[type=radio] {
    margin-right: 10px;
}

.mobilni-navigacija {
    display: none;
}

.desktop-navigacija {
    display: block;
}

.desktop-navigacija .row {
    padding: 10px 0;
    background: #0A0A0A;
}

.desktop-navigacija .row .piktogrami {
    background: #CD272E;
    padding: 5px 0;
}

.logo.col-4 {
    padding: 0 5px !important;
}

.logo-container img {
    width: 100%;
}

.desktop-navigacija .row .piktogrami .piktogrami-cont {
    width: fit-content;
    margin: 0 auto;
}

.desktop-navigacija .row input[type=text] {
    background: #0A0A0A;
    border-radius: 10px;
    position: relative;
    top: 7px;
    border-width: 0;
    color: white;
    display: inline-block;
    width: 90%;
}

.desktop-navigacija .search-cont:after {
    content: '\26B2';
    color: white;
    display: inline-block;
    font-size: 25px;
    transform: rotate(-45deg);
    position: relative;
    top: 5px;
}

.desktop-navigacija .row .piktogrami img {
    height: 32px;
}

.row.top-navigacija, .row.bottom-navigacija {
    position: fixed;
    width: 100%;
    z-index: 10000;
    left: 15px;
}

.row.top-navigacija {
    top: 0;
    background: #0A0A0A;
    padding: 11px 5px;
}

.row.bottom-navigacija {
    bottom: 0;
    background: #CD272E;
    padding: 15px 0;
}

.td-cena.uspesna-porudzbina-cena {
    padding: 10px 0 !important;
}

.pivo-slika {
    width: 100%;
}

.slider-container {
    margin-top: 19px;
    padding-bottom: 0;
    background: #1E1E1E;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    left: 91% !important;
    bottom: 70% !important;
}

.swiper-pagination-bullet {
    opacity: .4 !important;
    background: white !important;
    display: block !important;
    margin: 10px 0 !important;
}

.swiper-pagination-bullet-active {
    opacity: 1 !important;
}

.swiper-button-next, .swiper-button-prev {
    top: 5% !important;
    z-index: 70 !important;
}

.text-i-adresa-container h4 {
    color: white;
    text-align: center;
    width: 70%;
    margin: 100px auto 0 auto;
}

.text-i-adresa-container span {
    color: #CD272E;
}

.text-i-adresa-container input {
    width: 80%;
    margin: 20px auto 70px auto;
    border-radius: 30px;
    display: block;
}

.pocetna {
    background: #1E1E1E;
    padding-bottom: 50px;
}

.slider-objekti h4 {
    font-weight: 600;
    color: white;
    margin-top: 50px;
}

.sve-kuhinje h4 {
    font-size: 20px;
    font-weight: 300;
    color: white;
    opacity: .7;
}

.crvena-linija {
    height: 2px;
    background: #CD272E;
    width: 20%;
    margin: 20px 0;
}

.swiper-slide {
    background: white !important;
    height: 185px !important;
    border-radius: 10px;
}

.swiper-button-next, .swiper-button-prev {
    display: none !important;
}

.mySwiper .swiper-button-next, .mySwiper .swiper-button-prev {
    display: block !important;
}

.mySwiper .swiper-button-next {
    right: 0 !important;
}

.mySwiper .swiper-button-prev {
    left: 93% !important;
}

.mySwiper .swiper-slide {
    background: transparent !important;
}

.mySwiper .swiper-slide img {
    border-radius: 0 !important;
    width: 90% !important;
}

.swiper-slide img {
    width: 100% !important;
    border-radius: 10px 10px 0 0;
}

.swiper-slide {
    height: 100% !important;
}

.mySwiper .swiper-slide {
    height: auto !important;
}

.swiper-container {
    overflow: hidden;
}

.slider-objekti p {
    color: #2C2C2C;
    font-weight: 700;
    font-size: 12px;
    padding: 10px 10px 0 10px;
    margin-bottom: 0 !important;
}

.slider-objekti .kuhinje {
    color: #2C2C2C;
    opacity: .7;
    font-size: 12px;
    padding: 10px;
}

footer {
    background: #0A0A0A;
    padding-bottom: 20px;
}

footer ul {
    background: #747474;
    padding: 40px 0;
}

footer ul li {
    list-style: none;
    color: white;
    width: 70%;
    font-weight: 200;
    line-height: 2.5em;
    margin: 0 auto;
    text-align: center;
}

footer p {
    text-align: center;
}

footer ul li strong {
    font-weight: 500;
}

.restorani-kuhinje .sve-kuhinje .col-4 img {
    width: 100%;
}

.sve-kuhinje p {
    text-align: center;
    color: white;
    margin-top: 10px;
    opacity: .7;
}

.svi-restorani img, .sve-kuhinje img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.restoran {
    background: white;
    border-radius: 10px;
}

.restoran a:hover {
    text-decoration: none;
}

.title-objekat {
    padding: 10px;
    color: #2C2C2C;
    width: fit-content;
    display: inline-block;
    font-size: 20px;
    padding-bottom: 14px;
}

p.vreme-dostave {
    display: inline-block;
    width: fit-content;
    float: right;
    vertical-align: top !important;
    margin-left: auto !important;
    text-align: center;
    color: #2C2C2C;
    background: #dcdcdc;
    padding: 5px;
    border-bottom-right-radius: 10px;
}

.korpa-container {
    background: #FFC822;
    border-radius: 10px;
    color: #2C2C2C;
    z-index: 5;
    text-align: center;
    padding: 5px;
}

.korpa-text, .korpa-cena {
    margin-bottom: 0 !important;
}

.korpa-container p {
    width: fit-content;
    display: inline-block;
}

.korpa-text, .korpa-cena, .valuta {
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 600;
}

.proizvod-title {
    display: inline;
    color: white !important;
}

.dodatne-informacije {
    max-height: 0;
    transition: .25s ease-in-out;
    overflow: hidden;
}

.dodatne-informacije.active {
    max-height: 1500px;
}

.expander {
    font-size: 15px;
    position: relative;
    top: -1px;
    padding: 1px 6px;
    border-radius: 5px;
    border: 1px solid #FFC822;
    display: inline;
    margin-right: 10px;
}

.puna-sirina {
    width: 100% !important;
}

#forma-registracija label, #forma-login label, #forma-adresa label, #forma-password-reset label, #forma-password-reset-email label, #forma-verifikacija label {
    color: #2C2C2C;
}

footer .drustvene-mreze {
    width: fit-content;
    margin: 20px auto;
}

footer img {
    width: 32px;
    margin: 0 10px;
    display: inline-block;
}

.korpa-row {
    padding: 0 5%;
    margin-top: 0px;
    margin-right: 0;
}

.objekat-container {
    padding: 0 !important;
}

.objekat-container .objekat-title {
    background: rgba(0, 0, 0, .6);
    position: relative;
    top: -49px;
    padding: 10px 5%;
    font-size: 25px;
}

.objekat-container .kuhinja-container {
    background: #CD272E;
    margin: 0 5%;
    padding: 5px 0;
    border-bottom: 1px solid #1e1e1e;
}

.objekat-container .kuhinja-title-container {
    padding-bottom: 10px !important;
}

.objekat-container .kuhinja-title {
    width: fit-content;
    display: inline-block;
    margin: 20px auto 0 18px !important;
    font-size: 22px;
}

.kuhinja-title-container span {
    float: right;
    display: inline-block;
    font-size: 25px;
    margin: 5px 20px 0 0;
    transition: all 0.4s ease-in-out;
}

.kuhinja-title-container span.active {
    transform: rotate(180deg);
}

.kuhinja-container.prvi {
    margin-top: -30px;
    border-radius: 10px 10px 0 0;
}

.objekat-container .kuhinja-container:last-child {
    margin-bottom: 20px;
    border-radius: 0 0 10px 10px;
    padding-bottom: 20px;
}

.objekat-container .kuhinja-container .kuhinja-title {
    margin-top: 10px !important;
}

.objekat-container .kuhinja-title-linija {
    background: #FFC822 !important;
}

.objekat-container .proizvod-levo, .objekat-container .proizvod-desno {
    display: inline-block;
}

.objekat-container .proizvod-levo {
    width: 54%;
    padding-bottom: 20px;
}

.proizvod-levo p {
    margin-top: 15px;
}

.objekat-container .proizvod-desno {
    width: 44%;
    vertical-align: top;
    margin-top: 0px;
}

.objekat-container .proizvod-desno img, .objekat-container .pocetna-slika {
    width: 100%;
    border-radius: 5px;
}

.proizvod-levo h5, .expander {
    color: #FFC822;
}

.varijacije {
    border-bottom: 1px solid #5c5c5c;
    padding-bottom: 20px;
}

.varijacija-naziv {
    border-top: 1px solid #5c5c5c;
    padding-top: 20px;
    margin-bottom: 25px;
}

.dodaci-naslov {
    padding-top: 25px;
}

.proizvod-content {
    padding: 20px 0 30px 0;
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #5c5c5c;
}

.dodaj-izbaci {
    width: 70%;
    display: inline-block;
    float: right;
    vertical-align: top;
    position: relative;
    bottom: 2px;
}

.dodaj-izbaci div {
    display: inline-block;
    width: fit-content;
    float: right;
    text-align: right;
    border: 1px solid #FFC822;
    border-radius: 10px;
}

.dodaj-izbaci div:first-child {
    margin-left: 10px;
}

.dodaj-izbaci div span {
    font-size: 25px;
    font-weight: 200;
    padding: 5px 13px;
    color: #FFC822;
}

.broj-proizvoda-u-korpi-cont {
    width: fit-content;
    display: inline-block;
}

.dodatne-informacije .dodaj-u-korpu-btn {
    vertical-align: top;
}

a.dodaj-u-korpu-btn {
    color: #FFC822;
    text-transform: uppercase;
    padding: 13px 15px;
    border: 1px solid #FFC822;
    position: relative;
    top: 30px;
    border-radius: 10px;
    letter-spacing: .5px;
    transition: all .2s ease-in;
}

a.dodaj-u-korpu-btn:hover, .dodaj-izbaci div:hover, .expander:hover {
    background: #FFC822;
    color: #2c2c2c;
    transition: all .2s ease-in;
}

.dodaj-izbaci div:hover > span {
    color: #2c2c2c;
    transition: all .2s ease-in;
}

.prilozi label {
    padding-left: 20px;
}

.komentar {
    padding: 20px 0;
    border-top: 1px solid #5c5c5c;
    border-bottom: 1px solid #5c5c5c;
}

#komentar {
    border-radius: 10px;
    width: 100%;
}

.kuhinja-title {
    width: 90%;
    margin: 20px auto 0 auto;
}

.kuhinja-title-linija {
    height: 3px;
    width: 10%;
    background: #CD272E;
    margin: 5px 0 0 5%;
}

.cena-priloga, .cena-varijacije {
    float: right;
}

.row.row-top {
    margin: 20px 0 0 0;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.objekat-container .row.row-top, .pocetna .row.row-top {
    margin-top: 20px;
}

.objekat-container .pocetna-slika {
    margin-top: 75px;
}

.row-top .prva {
    background: white;
}

.row-top .adresa-container p {
    color: #2C2C2C;
    font-size: 17px;
    text-align: center;
    padding-top: 10px;
    letter-spacing: 0.3px;
    margin-bottom: 10px;
}

.adresa-container img {
    margin-right: 10px;
    position: relative;
    bottom: 5px;
}

.checked-td div {
    background: #FFC822;
    padding: 3px 10px !important;
    color: #2C2C2C;
    border-radius: 50%;
}

.td-prvi-broj {
    color: #FFC822;
    padding: 10px 20px !important;
}

.td-info {
    width: 50%
}

.td-cena {
    width: 30%;
}

.td-drugi-broj, .td-cena {
    padding: 10px 20px !important;
}

.korpa-row table tr {
    border-top: 1px solid #5c5c5c;
}

.korpa-row table td {
    padding: 10px 0;
    vertical-align: top;
}

.korpa-row .col-12 {
    padding-bottom: 50px;
}

.bottom-row-korpa {
    width: 94%;
    margin: 0 3%;
    padding: 10px 0;
    border-top: 1px solid #5c5c5c;
}

.bottom-row-korpa div {
    display: inline-block;
    width: fit-content;
}

.bottom-row-korpa .ukupna-cena {
    float: right;
}

.ukupna-cena-text, .ukupna-cena {
    font-size: 20px;
}

.korpa-header h1, .korpa-header h2 {
    padding: 10px 6%;
    position: relative;
    font-size: 25px;
}

.korpa-header h1 {
    background: black;
    color: #FFC822;
    font-size: 25px;
    top: -40px;
}

.uspesna-porudzbina-info {
    padding: 10px;
    margin: -30px 4% 0 4%;
    border: 1px solid #FFC822;
    border-radius: 10px;
}

.uspesna-porudzbina-info h3 {
    text-align: center;
    font-size: 20px;
    color: white;
}

.uspesna-porudzbina-info span {
    display: block;
    width: fit-content;
    margin: 10px auto 0 auto;
    padding: 25px 12px;
    border-radius: 50%;
    background: #ffc822;
    color: #2c2c2c;
}

.obavestenje-cena-dostave {
    margin: -30px 4% 20px 4%;
    border: 2px solid #CD272E;
    border-radius: 10px;
}

.obavestenje-cena-dostave h3 {
    padding: 10px;
    background: #CD272E;
    color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}

.obavestenje-cena-dostave p {
    text-align: center;
    padding: 0 10px 10px 10px;
    border-bottom: 1px solid #CD272E;
    margin-bottom: 0;
}

.obavestenje-cena-dostave table {
    width: 100%;
    text-align: center;
}

.obavestenje-cena-dostave table td {
    width: 50%;
    font-size: 16px;
    padding: 5px;
}

.obavestenje-cena-dostave table tr {
    border-bottom: 1px solid #CD272E;
}

.obavestenje-cena-dostave .zadnji-red {
    border-bottom: 0 !important;
}

.forma-search input {
    width: 100%;
    margin-left: 10px;
    padding: 3px 7px;
    background: #2c2c2c;
    box-sizing: unset !important;
    border: 1px solid #707070;
    border-radius: 30px;
    text-align: center;
    color: white;
    position: relative;
    top: 2px;
}

.forma-search input:focus-visible {
    outline: none !important;
}

.forma-search input:-internal-autofill-selected {
    background-color: #2c2c2c !important;
    color: white !important;
}

.forma-search input::placeholder {
    text-align: center;
}

.user-navigacija {
    text-align: center;
}

.user-navigacija a {
    text-transform: none;
    font-weight: 500;
    position: relative;
    top: 5px;
    text-align: center;
    letter-spacing: .5px;
}

.user-navigacija .prijavi-se-link {
    color: white;
}

.user-navigacija a.dropdown-item {
    top: 0;
}

a#navbarDropdown {
    width: fit-content !important;
    float: right !important;
}

.slika-korpa img {
    width: 100%;
    margin-top: 75px;
}

.login, .adresa, .password-reset, .password-reset-email, .verifikacija, .home {
    background: white !important;
    height: 100vh;
}

.register {
    background: white !important;
}

#forma-login, #forma-adresa, #forma-password-reset, #forma-password-reset-email, #forma-verifikacija {
    padding: 5vh 10%;
}

#forma-registracija {
    padding: 0 10% 10vh 10%;
}

#forma-login input:focus, #forma-registracija input:focus, #forma-adresa input:focus, #forma-password-reset input:focus, #forma-password-reset-email input:focus, #forma-verifikacija input:focus {
    border-color: #CD272E !important;
    box-shadow: 0 0 0 0.02rem #CD272E;
}

#forma-login a.btn.btn-link {
    color: #2c2c2c;
}

#forma-login label, #forma-registracija label, #forma-adresa label, #forma-password-reset label, #forma-password-reset-email label, #forma-verifikacija label {
    color: #2C2C2C;
    font-weight: 500;
    font-size: 15px;
}

#forma-login input, #forma-registracija input, #forma-adresa input, #forma-password-reset input, #forma-password-reset-email input, #forma-verifikacija input {
    background: #F7F7F7;
    border-radius: 8px;
}

#forma-login label.form-check-label {
    margin: 3px 0 0 15px;
}

#forma-login button.btn.btn-primary, #forma-registracija button.btn.btn-primary, #forma-adresa button.btn.btn-primary, #forma-password-reset button.btn.btn-primary, #forma-password-reset-email button.btn.btn-primary, #forma-verifikacija button.btn.btn-link, .home button.btn.btn-primary {
    width: 100%;
    border-radius: 50px;
    background: #CD272E;
    border: 1px solid #CD272E;
    font-weight: 500;
    font-size: 15px;
}

#forma-verifikacija {
    padding: 4vh 0 !important;
}

#forma-verifikacija button.btn.btn-link {
    color: white !important;
    padding: 10px 0 !important;
    text-decoration: none !important;
}

.verifikacija-card-body {
    padding: 4vh 10% 0 10%;
    color: #2c2c2c;
    font-size: 15px;
}

.home {
    padding: 0;
    color: #2c2c2c;
}

.home h2, .home a {
    color: white
}

#forma-login button.btn.btn-primary:focus, #forma-registracija button.btn.btn-primary:focus, #forma-adresa button.btn.btn-primary:focus, #forma-password-reset button.btn.btn-primary:focus, #forma-password-reset-email button.btn.btn-primary:focus,  #forma-verifikacija button.btn.btn-link:focus {
    box-shadow: none !important;
}

.login .col-md-12, .register .col-md-12, .adresa .col-md-12, .password-reset .col-md-12, .password-reset-email .col-md-12, .verifikacija .col-md-12 {
    padding: 0 !important;
}

.login-pocetak, .register-pocetak {
    padding: 8vh 0 7vh 0;
    text-align: center;
    background: #1e1e1e;
}

.login .login-pocetak a {
    color: #CD272E;
    font-weight: 500;
}

.login .login-pocetak p {
    color: #B7B7B7;
    font-size: 18px;
    font-weight: 500;
}

.desktop-u-pripremi {
    margin-top: 40vh !important;
}

.korpa-upozorenje, .desktop-u-pripremi {
    text-align: center;
    padding: 20px;
    font-size: 30px;
    color: white;
    background: #CD272E;
    margin: 5vh 5%;
    border-radius: 10px;
}

.korpa-upozorenje h1, .desktop-u-pripremi h1 {
    font-size: 25px;
}

a#navbarDropdown {
    border: 1px solid #707070;
    border-radius: 50%;
    padding: 10px 7px;
    top: 0;
    right: 20px;
    background-color: #2c2c2c;
    color: #707070;
}

.mySwiper .swiper-slide img.slajder-logo {
    width: 50px !important;
    position: relative;
    bottom: 60px !important;
    left: 10px;
}

.mySwiper .swiper-slide h1 {
    position: relative;
    bottom: 110px;
    height: 50px;
    left: 70px;
    background: rgba(0, 0, 0, .6);
    padding: 12px 10px;
    font-size: 20px;
    color: white;
}

.info-o-korisniku {
    width: 95%;
    margin: 0 auto;
}

.info-o-korisniku table {
    width: 100%;
}

.korisnik-table tr td:nth-child(2) {
    text-align: right;
}

.adresa-container span {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    background: white;
    left: 0;
    color: #CD272E;
    opacity: 0;
    transition: all .4s ease-in-out;
    padding: 11px 0;
    z-index: -1;
}

.btn-danger {
    border-color: #CD272E !important;
    background-color: #CD272E !important;
}

.arrow-down {
    top: 0px;
}

.vrati-se-u-restoran {
    width: 95%;
    text-align: center;
    background: #CD272E;
    border-radius: 50px;
    margin: 0 auto 30px auto;
}

.vrati-se-u-restoran p {
    padding: 10px;
    color: white;
    margin-bottom: 0;
    font-size: 20px;
}

.arrow-down.open {
    transform: rotate(180deg);
}

.promeni-adresu-link span.active {
    opacity: 1 !important;
    bottom: -48px !important;
}

.kuhinja-proizvodi {
    max-height: 0;
    transition: .4s ease-in-out;
    overflow: hidden;
    background: #1e1e1e;
}

.kuhinja-proizvodi.active {
    max-height: 10000px;
}

.footer-info {
    padding: 0 0 20px 5%;
    background: #747474;
}

.footer-info p {
    text-align: left !important;
}

.footer-info h5:first-child {
    padding-top: 20px;
}

.footer-info h5 {
    margin-top: 20px;
}

.footer-linija {
    width: 10%;
    height: 2px;
    background: #CD272E;
    margin: 0 auto 10px 0;
}

.footer-info a {
    color: white;
    display: block;
}

footer p {
    margin-bottom: 10px;
}

.kuhinja-stranica {
    padding: 0 !important;
}

.kuhinja-stranica .sve-kuhinje {
    padding: 0 5% !important;
}

.kuhinja-stranica .row {
    padding-top: 30px;
}

.kuhinja-stranica .vreme-dostave {
    margin-top: 0;
    background: #dcdcdc;
    color: #2c2c2c;
    opacity: 1;
}

.vrati-se-na-pocetnu h5 {
    text-align: center;
    background: #FFC822;
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    color: #1e1e1e;
    text-transform: uppercase;
}

.desktop-u-pripremi.sadrzaj-priprema {
    margin-top: 30vh !important;
}

.forma-novi-proizvod label {
    color: white !important;
}

.forma-novi-proizvod input[type=checkbox] {
    appearance: auto !important;
}

.uspesna-porudzbina-info h3 strong {
    color: #FFC822;
}

.viber-sms {
    width: fit-content;
    margin: 20px auto;
}

.viber-sms img {
    margin: 0 10px;
}

.google-ocena {
    padding: 5%;
    text-align: center;
    margin: 30px 5%;
    border: 1px solid #CD272E;
    border-radius: 10px;
}

.google-ocena strong {
    color: #CD272E;
}

.google-ocena img {
    margin: 20px 0;
}

.specijalne-ponude.slider-objekti, .hrana-blizu-vas.slider-objekti {
    height: fit-content !important;
}

.prilog-cont {
    width: 100%;
}

input#cena-priloga {
    float: right;
}

.opis-proizvod {
    vertical-align: top;
}

@media only screen and (max-width: 620px) {

    #app {
        padding-bottom: 70px;
    }

    .mobilni-navigacija {
        display: block;
    }

    .desktop-navigacija {
        display: none;
    }

    .swiper-container.mySwiper {
        height: 250px;
    }

    .slider-objekti .swiper-slide {
        height: 185px !important;
    }

    .korpa-container {
        width: 90%;
        position: fixed;
        bottom: 85px;
        left: 5%;
    }

    .slider-cont {
        margin-bottom: 0;
    }

    .pocetna .slider-cont {
        position: relative;
        top: 75px;
    }

    footer {
        padding: 0 0 90px 0;
        margin-top: 30px;
    }

    .container.pocetna {
        padding: 0;
    }

    .mySwiper .swiper-slide img {
        width: 100% !important;
    }

    .slider-container {
        margin-top: 1px !important;
    }

    .slider-objekti {
        padding: 0 5% !important;
    }

    .mySwiper .swiper-button-prev, .mySwiper .swiper-button-next {
        display: none !important;
    }

    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 20px !important;
        width: auto !important;
        left: 0 !important;
        position: relative !important;
    }

    .swiper-pagination-bullet {
        display: inline-block !important;
        margin: 0 5px !important;
    }

    .row-top .prva {
        width: 100% !important;
        padding-top: 8px;
    }

}

.proizvod-content.\32 64, .proizvod-content.\32 65 {
    display: none;
}

.container.promeni-proizvod {
    margin-top: 50px;
}

.varijacija-container-promeni {
    width: 100%;
}

.dodaj-novu-varijaciju, .izbrisi-varijaciju {
    width: fit-content;
    border: 1px solid #FFC822;
    padding: 7px 15px;
    border-radius: 100%;
    display: inline-block;
    color: #FFC822;
}

.forma-novi-proizvod .posebna-varijacija {
    position: relative;
}

.dodaj-novu-varijaciju {
    position: absolute;
    top: 35px;
    right: 10px;
}

.posebna-varijacija-segment {
    margin-top: 20px;
    border: 1px solid #5c5c5c;
    padding: 30px 10px;
}

.izbrisi-varijaciju {
    float: right;
}

.forma-novi-proizvod label.opis-proizvod, .forma-novi-proizvod textarea#opis {
    width: 100%;
}

.forma-novi-proizvod label.opis-proizvod {
    margin-top: 20px;
}

.forma-novi-proizvod textarea#opis {
    margin-bottom: 20px;
}

.forma-novi-proizvod button.btn.btn-primary {
    margin-top: 20px;
}

.forma-novi-proizvod select#kuhinja-proizvoda, .forma-novi-proizvod input#cena, .forma-novi-proizvod select#vrsta-varijacije {
    float: right;
}

.forma-novi-proizvod input#cena {
    margin-bottom: 40px;
}

.forma-novi-proizvod .form-group.row.mb-0.prilozi {
    margin-bottom: 40px !important;
}

.form-group.row.mb-0.varijacije {
    margin-top: 30px;
}

input[name="varijacija[]"], input[name="vrsta-varijacije"] {
    width: 60%;
}

input[name="cena-proizvoda-v[]"] {
    width: 38% !important;
}

.posebna-varijacija-segment label {
    width: 100%;
}
